<div class="flex justify-content-center ">
    <p-menu [model]="items" class="">
        <ng-template pTemplate="start">
            <span class="inline-flex align-items-center gap-1 px-3 py-3 navbar-brand">
                <span class="font-medium text-xl font-semibold">DainnShop</span>
            </span>
        </ng-template>
        <ng-template pTemplate="submenuheader" let-item>
            <span class="text-primary-admin font-bold">{{ item.label }}</span>
        </ng-template>
        <ng-template pTemplate="item" let-item>
            <a pRipple [routerLink]="item.routerLink" routerLinkActive="active" class="flex align-items-center p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <div pRipple
                class="relative overflow-hidden w-full d-flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2"
                    shape="circle" />
                <span class="d-inline-flex flex-column info">
                    <span class="font-bold">Amy Elsner</span>
                    <span class="text-sm">Admin</span>
                </span>
            </div>
        </ng-template>
    </p-menu>
</div>