<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="breadcrumbs d-flex flex-row align-items-center">
            <ul>
                <li><a routerLink="">Home</a></li>
                <li class="active"><a routerLink="/checkout"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>Checkout</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="message-box _success" [ngClass]="{'_failed' : transactionCode !== undefined && transactionCode !== '00'}">
                    <i   [ngClass]="transactionCode !== undefined && transactionCode !== '00' ? 'fa fa-times-circle' : 'fa fa-check-circle'" aria-hidden="true"></i>
                    <h2> {{ message }} </h2>
                    <p> {{ subMessage }} </p>

                    <div class="row mt-5 _button">
                        <div class="col-md-6 mb-4">
                            <button>
                                <a routerLink="/shop">Continue Shopping</a>
                            </button>
                        </div>
                        <div class="col-md-6 mb-4">
                            <button>
                                <a routerLink="/orders">View Order</a>
                            </button>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>

    </div>
</section>
