<div class="py-1 bg-black">
  <div class="container">
    <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
      <div class="col-lg-12 d-block">
        <div class="row d-flex">
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
              class="icon-phone2"></span></div>
            <span class="text">0123123123</span>
          </div>
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center">
              <!-- <span class="icon-paper-plane"></span> -->
            </div>
            <!-- <span class="text"></span> -->
          </div>
          <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
            <span class="text">3-5 Business days delivery &amp; Free Returns</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="">DainnStore</a>

    <div class="search">
      <app-search></app-search>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/shop" routerLinkActive="active" class="nav-link">Shop</a></li>
        <li class="nav-item"><a routerLink="/about" routerLinkActive="active" class="nav-link">About</a></li>
        <li class="nav-item"><a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a></li>
        <li class="nav-item cta cta-colored">
          <a routerLink="/cart" class="nav-link">
            <span class="icon-shopping_cart cart">
              <div class="quantity d-flex justify-content-center align-items-center">{{ totalQuantity }}</div>
            </span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
