h2.a11y-hidden, h3.a11y-hidden, h4.a11y-hidden, span.a11y-hidden {
    height: 1px;
    left: -9999px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
.YL_VlX {
    border-radius: .125rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    margin: 12px 0;
}
.J632se:first-child {
    padding-top: 12px;
}
.J632se {
    background: #eeeeeea3;
    padding: 12px 24px;
}


div.a11y-hidden, h1.a11y-hidden, h2.a11y-hidden, h3.a11y-hidden, h4.a11y-hidden, span.a11y-hidden {
    height: 1px;
    left: -9999px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
.bdAfgU:first-child {
    border: 0;
    margin: 0;
}
.FNHV0p:last-child .PB3XKx {
    display: none;
}
.PB3XKx {
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    height: 10px;
}
.dJaa92, .mZ1OWk {
    display: flex;
    word-wrap: break-word;
}
.mZ1OWk {
    align-items: center;
    color: rgba(0, 0, 0, .87);
    flex-wrap: nowrap;
    padding: 12px 0 0;
}
.dJaa92 {
    align-items: flex-start;
    flex: 1;
    flex-wrap: nowrap;
    padding: 0 12px 0 0;
}
.gQuHsZ {
    /* background: #e1e1e1; */
    border: 1px solid #e1e1e1;
    flex-shrink: 0;
    height: 80px;
    width: 80px;
}
.nmdHRf {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    padding: 0 0 0 12px;
    word-wrap: break-word;
}
.zWrp4w {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 5px;
    max-height: 48px;
}
.DWVWOJ, .jCAyGf {
    vertical-align: middle;
}
.j3I_Nh, .rsautk {
    margin: 0 0 5px;
}
.rsautk {
    color: rgba(0, 0, 0, .54);
}
.PwTjsu {
    border-bottom: 1px dotted rgb(0 0 0 / 30%);
    height: 0;
    position: relative;
    width: 100%;
}
.d3c_3g {
    left: 0;
    transform: translate(-50%, -50%);
}
.jThQdh {
    background: #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    height: .4375rem;
    position: absolute;
    top: 0;
    width: .4375rem;
    z-index: 1;
}
.G5W3v8 {
    right: 0;
    transform: translate(50%, -50%);
}
.LwXnUQ {
    background: #e9e9e98f;
    padding: 24px 24px 12px;
}

.juCcT0 {
    color: rgba(0, 0, 0, .8);
    font-size: 14px;
    line-height: 20px;
    margin: 0 10px 0 0;
}
.t7TQaf {
    color: #ee4d2d;
    font-size: 24px;
    line-height: 30px;
}

.ylYzwa {
    text-align: right;
}
.YRp1mm {
    margin-left: 12px;
}
.q6Gzj5 {
    color: #000;
    margin: 0 4px 0 0;
    opacity: .26;
    overflow: hidden;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    text-overflow: ellipsis;
}
.nW_6Oi, .pkAvN3, .q6Gzj5 {
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
}


.nW_6Oi, .pkAvN3, .q6Gzj5 {
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
}
.PNlXhK {
    color: #ee4d2d;
}