<section class="ftco-section bg-light">
  <div class="container">
    <div class="breadcrumbs d-flex flex-row align-items-center">
      <ul>
        <li><a routerLink="">Home</a></li>
        <li class="active"><a href="/shop"><i class="fa fa-angle-right" aria-hidden="true"></i>Shop</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-10 order-md-last">
        <div class="product_sorting_container product_sorting_container_top">
          <ul class="product_sorting d-flex justify-content-between">
            <li>
              <span class="type_sorting_text">{{ sortBy }}</span>
              <i class="fa fa-angle-down"></i>
              <ul class="sorting_type">
                <li class="type_sorting_btn" (click)="sortingType('Default Sorting')"><span>Default Sorting</span></li>
                <li class="type_sorting_btn" (click)="sortingType('Latest')"><span>Latest</span></li>
                <li class="type_sorting_btn" (click)="sortingType('Price: Low to High')"><span>Price: Low to High</span>
                </li>
                <li class="type_sorting_btn" (click)="sortingType('Price: High to Low')"><span>Price: High to Low</span>
                </li>
              </ul>
            </li>
            <li style="width: 123px;">
              <span class="">Show </span>
              <span id="limit" class="num_sorting_text ml-4">{{ size }}</span>
              <i class="fa fa-angle-down"></i>
              <ul class="sorting_num">
                <li class="num_sorting_btn" (click)="updatePageSize(12)"><span>12</span></li>
                <li class="num_sorting_btn" (click)="updatePageSize(1)"><span>1</span></li>
                <li class="num_sorting_btn" (click)="updatePageSize(2)"><span>2</span></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="" *ngIf="products?.length != 0; else emptyList">
            <app-product-list [products]="products"></app-product-list>

          <div class="row mt-5 d-flex justify-content-center">
            <ngb-pagination [(page)]="page" [pageSize]="size" [collectionSize]="totalElements" [maxSize]="5"
              (pageChange)="handleProductsPaginate()">
            </ngb-pagination>
          </div>
        </div>
        <ng-template #emptyList>
          <div class="alert alert-warning">
            No product found.
          </div>
        </ng-template>


      </div>
      <div class="col-md-4 col-lg-2">
        <div class="sidebar">
          <div class="sidebar-box-2">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title ">
                    <a class="heading heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                      aria-expanded="false" aria-controls="collapseOne">Categories
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <ul class="checkboxes">
                      <li *ngFor="let cate of categories">
                        <input type="checkbox" [checked]="categorySelections[cate.id]" [value]="cate.id"
                          (change)="onCbCateChange($event, cate.id)" />
                        <label>{{ cate.name }}</label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">Brands
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <ul class="checkboxes">
                      <li *ngFor="let brand of brands">
                        <input type="checkbox" [checked]="brandSelections[brand.id]" [value]="brand.id"
                          (change)="onCbBrandChange($event, brand.id)" />
                        <label>{{ brand.name }}</label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="sidebar-box-2">
          <h2 class="heading">Price Range</h2>
          <p class="min-price">{{minValue * 1000 | currency: "VND"}}</p>
          <p class="max-price"><i class="fa fa-angle-double-right"></i> {{maxValue * 1000 | currency: "VND"}}</p>
          <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
          <div class="filter_button" (click)="submitPriceRange()"><span>submit</span></div>
        </div>
      </div>

    </div>
  </div>
</section>