.profile-container {
  max-width: 800px;
  padding: 0 1.875rem 0.625rem;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.13);
  border-radius: 0.125rem;
}

.profile-container h1 {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 1rem;
  margin-bottom: 0.1rem;
}

.profile-container > p {
  color: #666;
}

.profile-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.profile-info {
  flex: 1;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.field label {
  width: 150px;
  font-weight: bold;
  color: #333;
}

.field .value p {
  margin: 0;
  color: #666;
}


.field-with-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-with-action a {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.field-with-action a:hover {
  color: #0056b3;
}

.gender-options {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}

.gender-options label {
    width: auto;
}

.profile-avatar {
  text-align: center;
  width: 200px;
}

.avatar-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.file-info {
  font-size: 0.9rem;
  color: #666;
  margin: 0.5rem 0 0 0;
}

.p-button-danger {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

.p-button-danger:hover {
  background-color: #d9363e;
  border-color: #d9363e;
}

.p-fileupload-choose {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.p-fileupload-choose:hover {
  background-color: #f0f0f0;
}
