<div class="" *ngIf="!isAuthenticated else isLogin">
    <a routerLink="/login">Login</a>
    <div class="navbar__link-separator"></div>
    <a routerLink="/register">Register</a>
</div>

<ng-template #isLogin>
    <div class="account" style="min-width: 162px">
        <a href="" class="prevent-default d-flex justify-content-center align-items-center">
            <div class="avatar d-flex justify-content-center align-items-center">
                <img src="assets/images/person_4.jpg" alt="">
            </div>
            <div class="full-name">{{ userName }}</div>

        </a>
        <ul class="account_selection">
            <li><a href=""><i class=" fa fa-user" aria-hidden="true"></i>
                    Information</a>
            </li>
            <li><a href=""><i class=" fa fa-user" aria-hidden="true"></i>
                    Purchase order</a>
            </li>

            <li><a (click)="logout()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Logout</a>
            </li>
        </ul>

    </div>
</ng-template>