<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Code</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>
                <img [src]="product.imgUrl" alt="product.name" style="height: 50px;">
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.code}}</td>
            <td>{{ product.price | currency:'VND' }}</td>
        </tr>
    </tbody>
</table>
