<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <!-- <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="mb-4">
                                <h3>Sign In</h3>
                                <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur
                                    adipisicing.</p>
                            </div>
                            <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
                                <div class="form-group first">
                                    <label for="email">Email</label>
                                    <input formControlName="email" type="email" class="form-control" id="email">
                                    <div *ngIf="email?.invalid && (email?.touched || email?.dirty)">
                                        <small class="text-danger" *ngIf="email?.errors?.['required']">Email
                                            is required.</small>
                                        <small class="text-danger" *ngIf="email?.errors?.['pattern']">Invalid
                                            email format.</small>
                                    </div>
                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Password</label>
                                    <input formControlName="password" type="password" class="form-control"
                                        id="password">
                                    <div *ngIf="password?.invalid && (password?.touched || password?.dirty)">
                                        <small class="text-danger" *ngIf="password?.errors?.['required']">Password
                                            is required.</small>
                                        <small class="text-danger" *ngIf="password?.errors?.['minlength']">Password must
                                            be at least 6 characters long.</small>
                                    </div>
                                </div>

                                <div class="d-flex mb-5 align-items-center">
                                    <!-- <label class="control control--checkbox mb-0"><span class="caption">Remember
                                            me</span>
                                        <input type="checkbox" checked="checked" />
                                        <div class="control__indicator"></div>
                                    </label> -->
                                    <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                                </div>

                                <button type="submit" value="Log In"
                                    class="btn btn-pill text-white btn-block btn-primary">Submit</button>

                                <span class="d-block text-center my-4 text-muted"> or sign in with</span>

                                <div class="social-login text-center">
                                    <!-- <a (click)="signInWithFB()" class="facebook">
                                        <span class="icon-facebook mr-3"></span>
                                    </a> -->
                                    <!-- <a href="#" class="twitter">
                                        <span class="icon-twitter mr-3"></span>
                                    </a> -->
                                    <a  id="google-signin-button">
                                        <!-- <span class="icon-google mr-3"></span> -->
                                    </a>
                                    <!-- <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>