<div class="content">
    <div class="container pt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="mb-4">
                                <h3>Sign In</h3>
                                <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur
                                    adipisicing.</p>
                            </div>
                            <form [formGroup]="loginFormGroup">

                                <div class="mb-3">
                                    <label for="email">Email</label>
                                    <input pInputText formControlName="email" id="email" class="w-100">
                                    <div *ngIf="email?.invalid && (email?.touched || email?.dirty)">
                                        <small class="text-danger" *ngIf="email?.errors?.['required']">Email
                                            is required.</small>
                                        <small class="text-danger" *ngIf="email?.errors?.['pattern']">Invalid
                                            email format.</small>
                                    </div>
                                </div>

                                <div class="form-group last mb-3">
                                    <label for="password">Password</label>
                                    <p-password formControlName="password" class="form-control" [feedback]="false"
                                        [toggleMask]="true" id="password" styleClass="input-password-custom" />
                                    <div *ngIf="password?.invalid && (password?.touched || password?.dirty)">
                                        <small class="text-danger" *ngIf="password?.errors?.['required']">Password
                                            is required.</small>
                                    </div>
                                </div>

                                <div class="d-flex mb-4 align-items-center">
                                    <div *ngIf="loginError" class="mt-2">
                                        <small class="text-danger">{{loginError}}</small>
                                    </div>
                                    <span class="ml-auto"><a routerLink="/forgot-password" class="forgot-pass">Forgot Password</a></span>
                                </div>
                                
                                <p-button value="Log In" label="Login" styleClass="p-button-login-custom"
                                    [loading]="isLoading" (onClick)="onSubmit()" />

                                <div class="d-flex mt-3 align-items-center justify-content-end">
                                    <span class="ml-auto" style="font-size: 12px;">Don't have an account?</span>
                                    <a routerLink="/register" class="forgot-pass">Sign up</a>
                                </div>

                                <p-divider align="center" type="solid">
                                    <span class="text-muted">or log in with</span>
                                </p-divider>

                                <div class="social-login text-center">
                                    <a id="google-signin-button"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>