<div class="card px-4">
    <p-toast />
    <p-table [value]="sizes" [tableStyle]="{ 'min-width': '50rem' }" [loading]="isLoading"
         [(selection)]="selectedSizes" [responsive]="true">
        <ng-template pTemplate="caption">
            <div class="row my-3">
                <div class="col-6 row justify-content-start">
                    <p-iconField iconPosition="left" class="ml-3">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" (change)="handleSearch($event)" placeholder="Enter size name..." />
                    </p-iconField>
                </div>
                <div class="col-6 row justify-content-end">
                    <p-confirmPopup />
                    <p-button [disabled]="status == 0 || selectedSizes && selectedSizes.length == 0" [loading]="isDeleting" icon="pi pi-trash"
                        severity="danger" [rounded]="true" [text]="true" [raised]="true"
                        (click)="confirmDelete($event)" />
                    <p-button routerLink="create" icon="pi pi-plus" [rounded]="true" [text]="true" [raised]="true"
                        class="ml-3" />
                </div>
            </div>


        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                <th pSortableColumn="id">
                    # <p-sortIcon field="id" />
                </th>
                <th pSortableColumn="name">
                    Name <p-sortIcon field="name" />
                </th>
                <th>Description</th>
                <th>
                    <!-- Status -->
                    <div class="d-flex align-items-center justify-content-between">
                        Status
                        <p-columnFilter field="status" type="boolean" display="menu">
                            <ng-template pTemplate="filter" let-value>
                                <p-dropdown 
                                    [ngModel]="value" 
                                    [options]="statuses"
                                    [(ngModel)]="status"
                                    (onChange)="filterStatus($event.value)" 
                                    [autoDisplayFirst]="true"
                                    [showClear]="false"
                                    placeholder="Any">
                                    <ng-template let-option pTemplate="item">
                                        <p-tag 
                                            [value]="option.value == 1 ? 'Enable' : 'Disable'"
                                            [severity]="getSeverity(option.value)" />
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th>
                    Action
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cate let-index="rowIndex" let-rowData="rowData">
            <tr style="border: none;">
                <td>
                    <p-tableCheckbox [value]="cate" />
                </td>
                <td>{{ page*size + index + 1}}</td>
                <td>{{cate.name}}</td>
                <td>{{cate.description}}</td>
                <td>
                    <p-tag [value]="cate.status == 1 ? 'Enable' : 'Disable'" [severity]="getSeverity(cate.status)" />
                </td>
                <td>
                    <p-button routerLink="edit/{{cate.id}}" icon="pi pi-pencil" [rounded]="true" [text]="true"
                        [raised]="true" />
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="d-flex justify-content-center">
        <p-paginator 
            (onPageChange)="onPageChange($event)" 
            [first]="page" 
            [rows]="size" 
            [totalRecords]="totalElements" 
            [rowsPerPageOptions]="[5, 10, 20]" />
    </div>
</div>