<div class="card px-4">
    <p-toast />
    <p-table [value]="orders" [tableStyle]="{ 'min-width': '50rem' }" [loading]="isLoading"
        [(selection)]="selectedOrders" [rowHover]="true">
        <ng-template pTemplate="caption">
            <div class="row my-3">
                <div class="col-6 row justify-content-start">
                    <p-iconField iconPosition="left" class="ml-3">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" (change)="handleSearch($event)" placeholder="Enter order id..." />
                    </p-iconField>
                </div>
                <div class="col-6 row justify-content-end" *ngIf="status == 'PROCESSING'">
                    <p-confirmPopup />
                    <p-button [disabled]="selectedOrders && selectedOrders.length == 0"
                        [loading]="isConfirming" icon="pi pi-check-circle"  [rounded]="true" [text]="true"
                        [raised]="true" (onClick)="confirmOrder($event)" label="Confirm"/>
                    <p-button [disabled]="selectedOrders && selectedOrders.length == 0"
                        (onClick)="cancelOrder($event)" icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true"
                        class="ml-3" severity="danger" label="Cancel"/>
                </div>
            </div>


        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngIf="status == 'PROCESSING'" style="width: 4rem"><p-tableHeaderCheckbox /></th>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Amount</th>
                <th>
                    <div class="d-flex justify-content-between align-items-center">
                        Order Date
                        <p-columnFilter type="date" field="date" display="menu" 
                            [matchModeOptions]="matchModeOptions"
                            [matchMode]="'dateRangeFilter'" 
                            [showClearButton]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                            [showApplyButton]="false"
                            class="ml-auto">
                            <ng-template pTemplate="filter" let-filter="filterCallback">
                                <div class="p-fluid">
                                    <p-calendar 
                                        [(ngModel)]="dateRange"
                                        [showIcon]="true"
                                        [iconDisplay]="'input'"
                                        dateFormat="mm/dd/yy"
                                        selectionMode="range"
                                        [showButtonBar]="true"
                                        styleClass="small-calendar">
                                    </p-calendar>
                                    
                                </div>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <div class="row px-3">
                                    <p-button
                                    label="Apply" 
                                    (onClick)="getOrdersPaginator()"
                                    class="p-mt-2 col-4 pr-0"
                                    styleClass="p-button-admin-custom"
                                    />
                                </div>
                                
                            </ng-template>
                            
                        </p-columnFilter>
                    </div>
                </th>
                <th>
                    <!-- Status -->
                    <div class="d-flex align-items-center justify-content-between">
                        Status
                        <p-columnFilter field="status" type="boolean" display="menu" [showClearButton]="false" [showApplyButton]="false">
                            <ng-template pTemplate="filter" let-value>
                                <p-dropdown [ngModel]="value" [options]="statuses" [(ngModel)]="status"
                                    (onChange)="filterStatus($event.value)" [autoDisplayFirst]="true"
                                    [showClear]="false">
                                    <ng-template let-option pTemplate="item">
                                        <p-tag [value]="option.label" [severity]="getSeverity(option.value)" />
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th>
                    Action
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order let-index="rowIndex" let-rowData="rowData">
            <tr style="border: none;">
                <td *ngIf="status == 'PROCESSING'">
                    <p-tableCheckbox [value]="order" />
                </td>
                <td>{{order.id}}</td>
                <td>{{order.customerName}}</td>
                <td>{{order.customerPhone}}</td>
                <td>{{order.totalAmount | currency: 'VND' }}</td>
                <td>{{order.orderDate | date : 'HH:mm MM/dd/yyyy'}}</td>
                <td>
                    <p-tag [value]="order.status" [severity]="getSeverity(order.status)" />
                </td>
                <td>
                    <p-button routerLink="{{order.id}}" icon="pi pi-pencil" [rounded]="true" [text]="true"
                        [raised]="true" />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8" class="text-center">No data available</td>
            </tr>
          </ng-template>
    </p-table>
    <div class="d-flex justify-content-center">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="page * size" [rows]="size"
            [totalRecords]="totalElements" [rowsPerPageOptions]="[5, 10, 20]" />
    </div>
</div>